@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  background: #24252a;
  font-family: "Roboto Condensed", sans-serif;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header header header"
    "inicio inicio banner banner"
    "carreraFt carrera carrera carrera"
    "proyectos proyectos proyectos proyectos"
    "contacto contacto contacto contacto"
    "footer footer footer footer";
}

li,
a {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

header {
  grid-area: header;
}

.logo {
  width: 120px;
  height: 25;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  min-height: 8vh;
}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  background: #fff;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.enlaces-menu {
  display: flex;
}

.enlaces-menu li {
  padding: 0 40px;
  list-style: none;
  transition: 0.3s;
  cursor: pointer;
}

.enlaces-menu li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.enlaces-menu a:hover {
  color: #20dad8;
}

.inicio {
  grid-area: inicio;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
.inicio h1 {
  font-size: 120px;
  padding: 30px 20px 30px 100px;
  color: #20dad8;
  text-align: center;
}

.loader {
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #20dad8;
  animation: blinkCursor 0.8s steps(3) infinite;
}

.loader h2 {
  position: relative;

  color: #fff;
  letter-spacing: 5px;
  font-size: 2.5em;
  text-transform: uppercase;
  animation: typing 8s steps(17) infinite;
  overflow: hidden;
}

@keyframes typing {
  0%,
  90%,
  100% {
    width: 0;
  }
  30%,
  60% {
    width: 450px;
  }
}

.banner {
  grid-area: banner;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  padding: 30px 50px 30px 0px;
  max-width: 100%;
}

.carrera {
  grid-area: carrera;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 80px;
}

.carrera h3 {
  font-size: 25px;
  padding-left: 50px;
  padding-bottom: 50px;
  color: #fff;
  text-decoration: underline;
}

.carrera p {
  color: #fff;
  font-size: 20px;
  padding-left: 50px;
  text-align: center;
}

.carrera ul {
  list-style: none;
  padding-top: 40px;
}

.carrera li {
  padding: 30px;
}

.carrera img {
  max-height: 120px;
  padding: 15px;
  opacity: 75%;
  transition: 0.5s;
}
.carrera img:hover {
  transform: scale(1.2);
  opacity: 100%;
}

.carreraFt {
  min-height: 100vh;
  grid-area: carreraFt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carreraFt img {
  padding-left: 80px;
}

.proyects {
  grid-area: proyectos;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.proyects h3 {
  font-size: 25px;
  padding-bottom: 50px;
  color: #fff;
  text-decoration: underline;
}

.proyects p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.proyectos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px;
}

.proyectos .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  margin: 10% 10%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.proyectos .card:hover {
  height: 380px;
}

.proyectos .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  opacity: 60%;
  transition: 0.8s ease-in-out;
}

.proyectos .card .imgBx:hover {
  opacity: 100%;
}

.proyectos .card .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.proyectos .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.proyectos .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.proyectos .card .content h2 {
  padding-bottom: 8px;
  color: #20dad8;
  font-size: 20px;
}

.proyectos .card .content p {
  color: #fff;
  font-size: 16px;
}

.contacto {
  grid-area: contacto;
  margin-top: 30vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.contacto h3 {
  font-size: 25px;
  padding-bottom: 50px;
  color: #fff;
  text-decoration: underline;
}

.contacto img {
  max-width: 500px;
  padding-bottom: 20px;
}

.contacto p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.redes {
  margin: 50px;
}
.redes ul {
  position: relative;
  display: flex;
  z-index: 2;
}
.redes ul li {
  position: relative;
  list-style: none;
  margin: 20px;
}

.redes ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 80px;
  height: 80px;
  font-size: 2em;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.redes ul li:hover a {
  transform: translateY(-30px);
  border-radius: 50%;
  border: 3px solid #20dad8;
}

.button-up{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(0);

}

.button-up:hover{
  transform: scale(1.1);
  color: #20dad8;
}
@media (max-width: 1400px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
      "header header"
      "inicio inicio"
      "banner banner"
      "carrera carrera"
      "carreraFt carreraFt"
      "proyectos proyectos"
      "contacto contacto"
      "footer footer";
  }

  .inicio {
    min-height: 30vh;
  }

  .inicio h1 {
    padding: 0%;
  }
  .inicio h2 {
    padding: 0%;
  }

  .banner {
    min-height: 30vh;
  }

  .banner img {
    padding: 0%;
  }

  .carrera {
    min-height: 70vh;
    margin-top: 30vh;
    padding-right: 80px;
    padding-left: 80px;
  }

  .carreraFt {
    min-height: 10vh;
    grid-area: carreraFt;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carreraFt img {
    max-width: 40%;
    padding: 0%;
  }
}

@media (max-width: 890px) {
  .ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: 0.2s 0.1s;
  }
  .ham:hover {
    transform: rotate(360deg);
  }

  .logo {
    padding-left: 30px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }

  .enlaces-menu {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
    margin: 0;
    width: 100%;
    display: none;
    opacity: 0;
  }

  .enlaces-menu li {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .enlaces-menu li:hover {
    background: #20dad8;
    color: #fff;
  }

  @keyframes mostrarMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .enlaces-menu.activado {
    display: flex;
    animation: mostrarMenu 350ms ease-in-out both;
  }

  .br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
  }

  .br-2.animado {
    opacity: 0;
  }

  .br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
  }

  .carrera ul {
    padding-top: 10px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrera li img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .proyects h3 {
    padding: 30px;
    text-align: center;
  }
  .proyects p {
    padding: 30px;
    text-align: center;
  }

  .proyectos .card .content p {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .inicio h1 {
    font-size: 90px;
  }

  .loader h2 {
    font-size: 1.5em;
  }

  @keyframes typing {
    0%,
    90%,
    100% {
      width: 0;
    }
    30%,
    60% {
      width: 350px;
    }
  }

  .carreraFt img {
    max-width: 60%;
  }

  .carrera {
    padding-right: 5px;
    padding-left: 5px;
  }

  .carrera h3 {
    padding-bottom: 30px;
    padding-left: 0%;
  }

  .carrera p {
    padding: 30px;
  }

  .proyectos .card {
    margin: 20% 20%;
    padding: 20px 15px;
  }

  .contacto p {
    padding: 30px;
    text-align: center;
  }

  .contacto img {
    max-width: 300px;
    padding-bottom: 20px;
  }

}

@media (max-width: 400px) {
  .inicio h1 {
    font-size: 70px;
    padding: 10px;
  }

  .loader h2 {
    font-size: 1em;
  }

  @keyframes typing {
    0%,
    90%,
    100% {
      width: 0;
    }
    30%,
    60% {
      width: 250px;
    }
  }

  .proyectos .card {
    margin: 0% 0%;
    margin-top: 100px;
    padding: 20px 15px;
  }

  .redes ul li a {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}
}
